<div class="card">

  <div class="card-image">
    <figure class="image is-4by3">
      <img src="<%= player.image %>" alt="Placeholder image">
    </figure>
  </div>
  <% if (content) { %>
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img src="<%= player.nation.image %>" alt="Placeholder image">
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4">
            <%= player.name %>
          </p>
          <p class="subtitle is-6">
            <%- include('./captain.ejs') %> | <%= player.position %> | <%= player.goals %> goals
          </p>
        </div>
      </div>
    </div>
    <% } %>

</div>