<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./ui/head.ejs') %>
</head>

<body>
    <%- include('./ui/navbar.ejs') %>
        <div class="page-title-nation">
            <div>
                <h1>Nation</h1>

                <form action="/admin/nations" method="get">

                    <div class="field has-addons">
                        <div class="control">
                            <input class="input is-success" autofocus name="searchValue" value="<%=searchValue%>"
                                type="text" placeholder="Find a repository">
                        </div>
                        <div class="control">
                            <button type="submit" class="button is-dark">
                                Search
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <table class="table" style="width: 100%">
            <thead>
                <tr>
                    <th>Pos</th>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                <% nations.forEach((nation,index)=> { %>
                    <tr>
                        <td>
                            <%= index %>
                        </td>
                        <td>
                            <figure class="image is-64x64">
                                <img class="is-rounded" src="<%= nation.image%>" />
                            </figure>
                        </td>
                        <td>
                            <%= nation.name %>
                        </td>
                        <td>
                            <%= nation.description %>
                        </td>
                        <td>
                            <div style="display: flex; gap: 16px;">
                                <!-- <form action="/admin/nations/<%= nation._id %>" method="post"
                                    onsubmit="return validate(this);">
                                    <input type="hidden" name="_method" value="delete" />
                                    <input required class="button is-danger" type="submit" value="Delete" />
                                </form> -->
                                <div>
                                    <%- include('./component/nation-button.ejs', {nation, titleButton: "Update" }) %>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
        </div>
        <%- include('./component/nation-button.ejs', {absolute:true}) %>
</body>

</html>